<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <span>Olá </span>
        <span sec:authentication="name" />
        <span> - </span>
        <a th:href="@{/logout}">sair</a>
    </p>

    <form>
        <div>
            <textarea cols="50" rows="3" maxlength="180" placeholder="post um cheep..."></textarea>
        </div>
        <div>
            <input type="submit" value="Cheep">
        </div>
    </form>


</body>
</html>