<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div>
        <a th:href="@{/home}">home</a>
    </div>
    <h2><span th:text="${user.name}"/></h2>
    <span th:text="${user.bio}"/>

    <br />
    <div style="height: 100px; width: 100px;border-radius: 50px;">
        <img style="max-height:100%; max-width:100%;border-radius: 50px;" th:src="${user.image}">
    </div>
    <br />

    <form th:action="@{/profile/upload}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:value="${user.id}" name="id" />
        <input type="file" name="image"/><br />
        <input type="submit" value="Trocar imagem">
    </form>

    <br />
    <span th:text="${user.cheepers.size()}"/> cheeps

    <br /><br />
    <div>
        <a th:href="@{/logout}">sair</a>
    </div>

</body>
</html>