<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h2><span th:text="${user.name}"/></h2>

    <div style="height: 100px; width: 100px;border-radius: 50px;">
        <img style="max-height:100%; max-width:100%;border-radius: 50px;" th:src="@{/default.png}">
    </div>
    


    <br />
    <span th:text="${user.cheepers.size()}"/> cheeps



    <br /><br />
    <div>
        <a th:href="@{/logout}">sair</a>
    </div>

</body>
</html>