<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil - Cheeper</title>
</head>
<body>
    <header>
        <div>
            <a th:href="@{/home}">home</a>
        </div>
        <br />
        <div th:if="${#authentication.name} == ${profile.user.email}">
            <div th:unless="${profile.user.verifiedEmail}">
                <span>Por favor, <a th:href="@{/form-verify}">verifique</a> seu email</span>
            </div>
        </div>
        <h2>
        <span th:text="${profile.user.name}"/> (<span th:text="${profile.user.formattedProfileName}"/>)
        </h2>
    </header>

    <section>
        <span th:text="${profile.numberOfCheeps}"/><span th:text="${profile.numberOfCheeps == 1 ? ' cheep' : ' cheeps'}"/> <br />
        <span th:text="${profile.user.bio}"/> <br />

        <a th:href="@{/{profileName}/following(profileName = ${profile.user.profileName})}">
        <span>Seguindo</span> <span th:text="${profile.user.following}"/></a>&nbsp&nbsp




        <span th:text="${profile.user.beingFollowed}"/><span th:text="${profile.user.beingFollowed == 1 ? ' Seguidor' : ' Seguidores'}"/>
        <br /><br />

        <div th:if="${#authentication.name} != ${profile.user.email}">
            <div th:if="${profile.follow} == false">
                <a id="follow" href="#" onclick="follow()">Seguir</a>
            </div>
            <div th:if="${profile.follow} == true">
                <a id="unfollow" href="#" onclick="unfollow()">Deixar de seguir</a>
            </div>
        </div>
    </section>

    <br />

    <section>
        <div style="height: 100px; width: 100px;border-radius: 50px;">
            <img style="max-height:100%; max-width:100%;border-radius: 50px;" th:src="${profile.user.image}">
        </div>
        <br />

        <div th:if="${#authentication.name} == ${profile.user.email}">
            <form th:action="@{/upload}" enctype="multipart/form-data" method="post">
                <input type="file" name="image"/><br />
                <input type="submit" value="Trocar imagem">
            </form>
        </div>
        <br />

        <h3>Cheeps: </h3>
        <ul style="list-style-type: none;" th:each="cheep : ${profile.cheeps}">
            <li>
                <div>
                    <span th:text="${cheep.formattedCreation}" />:
                    <b><span th:text="${cheep.message}" /></b>
                </div>
            </li>
        </ul>
    </section>

    <br />
    <br />
    <footer>
        <a th:href="@{/logout}">sair</a>
    </footer>

</body>

<script th:inline="javascript">
    function follow() {
        fetch('/follow', {
            method: 'POST',
            body: [[${profile.user.profileName}]]
        }).then(document.querySelector('#follow').outerHTML = '<a id="unfollow" href="#" onclick="unfollow()">Deixar de seguir</a>')
    }

    function unfollow() {
        fetch('/unfollow', {
            method: 'POST',
            body: [[${profile.user.profileName}]]
        }).then(document.querySelector('#unfollow').outerHTML = '<a id="follow" href="#" onclick="follow()">Seguir</a>')
    }
</script>
</html>