<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cadastro - Cheeper</title>
</head>

<body>
<h2>Cadastro de Usuário</h2>


<form th:action="@{/registry}" th:object="${newUserForm}" method="post">
    Nome: <input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />

    <br />
    Nome do Perfil: <input type="text" th:field="*{profileName}" />
    <span th:if="${#fields.hasErrors('profileName')}" th:errors="*{profileName}" />

    <br />
    Email: <input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
    <br />

    Bio: <input type="text" th:field="*{bio}" />
    <span th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}" />
    <br />

    Senha: <input type="password" th:field="*{password}" />
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
    <br />

    Confirma Senha: <input type="password" th:field="*{confirmPassword}" />
    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" />
    <br />

    <input type="submit" value="Cadastra"/>
</form>
</body>
</html>