<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/thymeleaf-extras-springsecurity5">
<head>
    <title>Home - Cheeper</title>
</head>
<body>
    <header>
        <p>
            <span>Olá </span>
            <a th:href="@{/{profileName}(profileName = ${timeline.profile.profileName})}">
                <span th:text="${timeline.profile.name}" />
            </a>
            (<span th:text="${timeline.profile.formattedProfileName}" />)
        </p>
    </header>

    <section id="post-cheep">
    <span th:text="${success}" />
        <form th:action="@{/cheep}" method="post">
            <div>
                <textarea name="message" cols="50" rows="3" maxlength="280" placeholder="post um cheep..."></textarea>
            </div>
            <div>
                <input type="submit" value="Cheep">
            </div>
        </form>
    </section>

    <section id="timeline">
        <ul style="list-style-type: none;" th:each="elementPage : ${timeline.pageOfTimeline}">
            <li>
                <div>

                    <span th:text="${elementPage.name}" /><br />
                    <span th:text="${elementPage.creation}" />: <b><span th:text="${elementPage.message}" /></b>
                    <div th:if="${#authentication.name} == ${elementPage.email}">
                        <form th:action="@{/cheep}" th:method="delete">
                            <input type="hidden" th:value="${elementPage.cheepId}" name="id" />
                            <input type="submit" value="Excluir" />
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <br />
    <br />

    <footer>
        <a th:href="@{/logout}">sair</a>
    </footer>
</body>
</html>